@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url(//db.onlinewebfonts.com/c/f4d849075c9b4c0047fc56a828879854?family=Recoleta-Bold);
.App {
  max-width: 675px;
  margin: 40px auto;
}

button {
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 15px 20px -16px #d2a280;
  color: #1a2346;
  border-radius: 35px;
  border: none;
  cursor: pointer;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 36px;
  margin-top: 100px;
}

button:active {
  background: #1a2346;
  color: #fff;
}

h1 {
  font-family: Recoleta-Bold;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  padding-left: 20px;
}

.front {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 15px;
}
.front img {
  max-width: 62px;
  max-height: 62px;
  margin-top: 44px;
}

.back {
  width: 150px;
  height: 150px;
  background: #1a2346;
  border-radius: 16px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  grid-gap: 25px;
  justify-content: center;
}

.card {
  box-shadow: 0px 30px 35px -16px #d2a280;
  max-width: 150px;
  border-radius: 15px;
}

p {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition: 0.2s;
  transition-delay: 0.2s;
}

.card .back {
  transition: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
}

.center {
  display: flex;
  justify-content: center;
}
