@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url(//db.onlinewebfonts.com/c/67415ab41a7350f81536b69763e6d031?family=Recoleta-Regular);
.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 15px 20px -16px #d2a280;
  color: #1a2346;
  border-radius: 35px;
  border: none;
  cursor: pointer;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 36px;
}

button:active {
  background: #1a2346;
  color: #fff;
}

h1 {
  font-family: Recoleta;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
}
